src/main/app/enrollment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <jms:activemq-connector name="Active_MQ" specification="1.1" brokerURL="tcp://0.0.0.0:61616" validateConnections="true" doc:name="Active MQ"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8091" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="Oracle_Configuration" host="localhost" port="1521" instance="xe" user="hr" password="hr" doc:name="Oracle Configuration"/>
     <flow name="enrollmentReceiver">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/notice" doc:name="HTTP" allowedMethods="POST" />
        <object-to-string-transformer doc:name="Object to String"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="Http payload is #[message.payload]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint queue="Enrollment" connector-ref="Active_MQ" doc:name="JMS"/>
	    <logger level="INFO" doc:name="Logger"/>
		<catch-exception-strategy>
			<logger doc:name="Exception occurred" />
		</catch-exception-strategy>
    </flow>
	<flow name="enrollmentProcess">
        <jms:inbound-endpoint doc:name="JMS" connector-ref="Active_MQ" queue="Enrollment"/>
        <logger message="JMS message is #[message.payload]"  level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object" encoding="UTF-8" ignoreBadInput="true" mimeType="text/plain"/>
        <logger message="Map values values #[message.payload.id] #[message.payload.name] #[message.payload.gpa]" level="INFO" doc:name="Logger"/>
	    <custom-processor class="com.amardeep.processor.StudentProcessor" doc:name="Custom Processor"/>
	    <logger message="Map values values #[message.payload.id] #[message.payload.name] #[message.payload.gpa] #[message.payload.flag]" level="INFO" doc:name="Logger"/>
	    <db:insert config-ref="Oracle_Configuration" doc:name="Database" >
            <db:parameterized-query><![CDATA[INSERT INTO STUDENT_ACCEPT(STUDENT_ID,STUDENT_NAME,GPA,ERROR_FLAG) VALUES(#[message.payload.id],#[message.payload.name],#[message.payload.gpa],#[message.payload.flag])]]></db:parameterized-query>
	    </db:insert>
		<catch-exception-strategy>
			<logger doc:name="Exception occurred" />
		</catch-exception-strategy>
    </flow>
</mule>